<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="C:/Users/nnadt/IdeaProjects/taqc202003">
        <classes>
              <class name="com.softserve.edu.hw12.CartTest">
                <methods>
                    <include name="testAddToCart"/>
                    <include name="testChangeQuantity"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>